.body {
  font-family: "Arial";
}
.product,
.household {
  display: flex;
  justify-content: space-between;

}

.product li:hover .hide-menu {
  display: block;
}
.household li:hover .hide-menu {
  display: block;
}

.hide-menu {
  display: none;
}
.hide-menu {
  border-radius: 3px;
  background-color: #d2d4d5;
}
.product,
.household {
  padding: 15px;
  background-color: #2a3644;
  list-style: none;

}
.product a,
.household a {
  padding: 12px 30px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Arial";
  text-decoration: none;  
}

.table-result {
  margin: 0 auto;
  max-width: 960px;
}

.table-result table {
  width: 100%;
  border-collapse: collapse;
}

.table-result h1,
.table-name h1 {
  font-size: 24px;
  letter-spacing: 1px;
  color: #bfbfbf;
  font-weight: bold;
}

.table-row tr {
  border-radius: 3px;
  background-color: #2a3644;
}

.table-row th {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  padding: 15px;
 
  border: 1px solid #3f4852;
}

.line tr {
  background-color: #f2f2f2;;
  transition: all .25s ease;
}

.line td {
  font-size: 16px;
  color: #2a3644;
  padding: 15px 15px;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  border: 1px solid #c0c1c2;
  
}

.line tr:hover {
  background-color: #c0c1c2;
}
.table-row tr:first-child th:nth-child(2) {
  text-align: left;
}

.table-row tr:first-child th:first-child {
  width: 43px;
}

.line td:first-child {
  text-align: center;
}

.line td:nth-child(n + 3) {
  text-align: right;
}

.line tr:nth-child(2n+1){
  background-color: #e8e8e8;
}

.table-style {
  width: 100%;
  display: table;
}
.table-line {
  padding: 10px 10px;
  display: table-row;
}

.table-line h3{
  display: table-cell;
}

.table-line p{
  display: table-cell;
}

.title {
  background-color: #2a3644;
}

.title h3 {
  padding: 12px 12px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}
.info {
  background-color: #f2f2f2;
}

.info p {
  padding: 12px 12px;
  font-size: 16px;
  color: #2a3644;
  border: 1px solid #c0c1c2;
}

